<h1>Listing events</h1>

<table>
  <tr>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Num votes</th>
    <th>Voting Open?</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.startdate %></td>
    <td><%=h event.enddate %></td>
    <td><%=h event.vote_ids.length %></td>
    <td><%=h event.votingopen %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
