<div class="Event details">

<p>
Please vote for this months curry night below:
</p>


<div class="curryhouse-list">
<!--<p>
  <% @event.curryhouses.each do |curryhouse|%>
  	<p>
  	<%=h curryhouse.title %>
	<br />
	<%=h curryhouse.description %>
	</p>
      <%end%>
</p>
-->
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>
</div>
</div>

<div class="map">
<!-- TODO google-maps integration -->
</div>
<% if @event.votingopen %>
<div class="vote-form">
<p>
  <h3>Vote</h3>
  <%= render :partial => @vote = @myvote, :locals => { :button_name => "Vote" } %>
</p>

</div>
<% else %>
<p>
Voting is closed for this month!
</p>
<%end%>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= if @event.votingopen
	link_to 'Close Voting', closevoting_event_path(@event)
    else
    	link_to 'Open Voting', openvoting_event_path
    end
%>
