<div class="Event details">

<p>
Please vote for this months curry night below:
</p>


<div class="curryhouse-list">
<!--<p>
  <% @event.curryhouses.each do |curryhouse|%>
  	<p>
  	<%=h curryhouse.title %>
	<br />
	<%=h curryhouse.description %>
	</p>
      <%end%>
</p>
-->
<%= ziya_chart load_chart_url -%>
</div>
</div>

<div class="dates">

<p>
  Select the dates you are not available:
</p>

<% @event.dates.each do |date|
	if date > Date.today then
%>
        <%= check_box_tag "vote[date_ids][]", date.to_s, false %>

	 <%= h date %>
   <%end
   end
   %>
</div>

<div class="map">
<!-- TODO google-maps integration -->
</div>
<% if @event.votingopen %>
<div class="vote-form">
<p>
  <h3>Vote</h3>
  <%= render :partial => @vote = Vote.new, :locals => { :button_name => "Vote" } %>
</p>

</div>
<% else %>
<p>
Voting is closed for this month!
</p>
<%end%>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= if @event.votingopen
	link_to 'Close Voting', closevoting_event_path(@event)
    else
    	link_to 'Open Voting', openvoting_event_path
    end
%>
