<div class="Event details">

<p>
Please vote for this months curry night below:
</p>

<div class="dates">

<p>
  <b>Startdate:</b>
  <%=h @event.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%=h @event.enddate %>
</p>

</div>

<div class="curryhouse-list">
<p>
  <% @event.curryhouses.each do |curryhouse|%>
  	<p>
  	<%=h curryhouse.title %>
	<br />
	<%=h curryhouse.description %>
	<br />
	Current Votes:
	<%
	count = 0
	Vote.find(:all, :conditions => {:event_id => @event}).map(&:curryhouse_ids).flatten!.each { |v| count = count +1 if v==curryhouse.id }%>
	<%=h count %>
	</p>
      <%end
  %>
</p>

</div>
</div>

<div class="map">
<!-- TODO google-maps integration -->
</div>

<div class="vote-form">
<p>
  <h3>Vote</h3>
  <%= render :partial => @vote = Vote.new, :locals => { :button_name => "Vote" } %>
</p>

</div>

<%= link_to 'Edit', edit_event_path(@event) %> 
