<% form_for([@event,@vote]) do |f| %>
  <%= f.error_messages %>

<div class="dates">
<p>
  Select the dates you are not available:
</p>

<% @event.dates.each do |date|
        if date > Date.today then
%>
        <%= check_box_tag "vote[avail][]", date.to_s, @vote.avail.include?(date.to_s) rescue check_box_tag "vote[avail][]", date.to_s, false %>


         <%= h date %>
   <%end
   end
   %>
</div>


  <p>
	<%= puts @vote.userid %>
  <%= hidden_field_tag :userid, :value => @vote.userid %>
  <% for curryhouse in @event.curryhouses %>
  <div>
     <%= check_box_tag "vote[curryhouse_ids][]", curryhouse.id, @vote.curryhouse_ids.include?(curryhouse.id) %>
     <%= curryhouse.title %>
  </div>
  <% end %>
  </p>
  <p>
      <%= f.submit button_name %>
  </p>
<% end %>
